.visual-cart {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
}

.cart-container {
    display: flex;
    flex-direction: column;

    margin-top: 150px;

    width: 50%;
}

.single-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.img-name-container {
    display: flex;
    align-items: center;
}

.image-cart {
    width: 100px;
    height: 125px;

    padding: 5px;

    border-right: 1px solid black;
}