.visual-cart {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
}

.cart-container {
    display: flex;
    flex-direction: column;

    margin: 150px 25px 50px 25px;

    width: 100%;
}

.single-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.img-name-container {
    display: flex;
    align-items: center;
}

.image-cart {
    height: 125px;

    padding: 5px;

    border-right: 1px solid black;
}

.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.outer {
    position: relative;

    width: 300px;
    height: 300px;
}

.inner {
    position: absolute;

    display: flex;
    align-items: center;
    text-align: center;

    width: 300px;
    height: 300px;

    background-color: rgb(202, 62, 62);
    border-radius: 50%;
}

.text {
    font-size: 5em;
    font-weight: bold;
}

.black-text {
    margin-left: 10px;
    word-wrap: break-word;
}

.price-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 30%;
}

.change-amount-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}