.shop {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  color: black;

  width: 100%;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
  grid-gap: 20px;

  justify-content: center;
  align-items: center;
}

.item {
  position: relative;

  border: 2px solid black;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.item-image {
  display: block;
  margin: 0 auto;

  min-height: 150px;
  max-height: 300px;

  min-width: 100px;
  max-width: 200px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
}

.item-name {
  text-align: center;

  border-top: 1px solid black;
  padding: 10px;
  margin: 0;

  font-weight: 700;
}

.add-to-cart {
  text-decoration: none;
  font-weight: 700;
  height: 3em;

  background-color: rgb(202, 62, 62);
  border: 0;

  transition: background-color .5s;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: rgb(245, 94, 94);
}